
--init='
# sub total, by depth ($dep)
# subtotals for possible future use
my @subtotals=(0,0,0,0,0,0,0);
my $total = 0;
my $DEBUG=0;
my $prevDep=9999;

# 
sub getTotal($) {
	# $t is some time value - elapse, cpu,...
	my ($t) = @_;
	# r will be non-zero when reaching depmin+1 following depmin
	my $r = 0;

	if ($DEBUG) {
		print "==============================\n";
		print "text: $text\n";
		print "     dep: $dep\n";
		print " prevDep: $prevDep\n";
		print "       t: " . sprintf("%6.6f",$t) . "\n";
		print "------------------------------\n";
	}

	# transaction completed when switching from $depmin to $depmin+1
	if ( $dep > $depmin  and $prevDep == $depMin ) {
		$r = $total;
		$total = $t; # first value of next group to total

   	print "SWITCHED DEP - dep: $dep prevDep; $prevDep\n" if $DEBUG;
      print "    total: $total\n" if $DEBUG;

	} else {
		$total += $t;
	}

	$prevDep = $dep;

	if ($DEBUG) {
		print "    total: " . sprintf("%6.6f",$total) . "\n";
	}

	return $r;
}

sub getString($) {
	my ($str) = @_;
	printf (qq{getString-\$str: %6.6f\n},$str) if $DEBUG;

	if ( $str) {
		print "   returning value\n" if $DEBUG;
		return sprintf(q{%6.6f},$str); 
	} else { 
		print "   returning empty string\n" if $DEBUG;
		return ""; 
	}
}
'

--group='sprintf("%17.6f %10d %10d %10d  %-40.40s %-.60s %6.6f %13s", $tim, $line, $parse_id, $exec_id, "· "x$dep.$name.(scalar(@bind)?"(".join(",",@bind).")":""), "· "x$dep.substr($sql . " "x60,0,60),$e, getString( getTotal($e) ))'
#               12345678901234567 1234567890 1234567890 1234567890 1234567890123456789012345678901234567890 123..                                            00000.00000
--group-label='"          END-TIM       LINE   PARSE-ID    EXEC-ID  CALL-NAME(BOUND-VALUES)                  STATEMENT-TEXT                                                Elapsed         Total"'

--alldepths --nohistogram --sort=1na --name=:dbcall --top=0


