# cull-snmfc.rc
# Jared Still 2023
# jkstill@gmail.com
# exlude snmfc (SQL*Net message from client) if >= 1 second

--init='

=encoding utf8

'

--where='($name =~ q{message from client} and $af < 1) or ! ( $name =~ q{message from client})'


