

--init='
my $callNameLen=6;
my $rowCountLen=4;

sub getGrpLabel {
	my $callDesc = sprintf(qq{%${callNameLen}s:},q{CALL});
	my $countDesc=  sprintf(qq{%${rowCountLen}s},q{N} x $rowCountLen);
	my $ret = $callDesc . $countDesc;
	return $ret;
}

sub getGrpName {
	my ($callName, $rowCount) = @_;
	$callName = sprintf(qq{%${callNameLen}s},$callName);
	$rowCount = sprintf(qq{%0${rowCountLen}d},$rowCount);
	return "$callName:$rowCount";
}

'

# removed the rows condition on EXEC
# it would be good to see EXEC were r=0 so that the number of EXEC can be compared to FETCH with r=1
# get those EXEC that are for a SELECT statement.  The method for this is not exact, but adequate for these purposes
#--where='$nam eq q{FETCH} or ($name eq q{EXEC} and $r>0)' 
--where='$nam eq q{FETCH} or ($name eq q{EXEC} and $sql =~ /\bSELECT\b/i)' 
--group='getGrpName($nam,$r)' 
# calling a function from --gl is not working
#--group-label="getGrpLabel()"
--group-label="sprintf('%6s','CALL') . ':NNNN'"

