
# Jared Still 2023
# jkstill@gmail.com

--init='

=encoding utf8

'


#--group='$time0 . q{,} . $time1 . q{,} . sprintf(qq{%6.6f},$e)'
#               12345678901234567 1234567890 1234567890 1234567890 1234567890123456789012345678901234567890 123..                                            00000.00000

#--alldepths --name=':dbcall' --sort=1a --top=0 --nohistogram --nofoot --nohead

--group='$time0 . q{|} . $time1 . q{|} . $text'
--alldepths --sort=1a --top=0 --nohistogram --nofoot --nohead


