# Group using SSD-appropriate bucket boundaries.
#
# Each line containing a Unicode character below is followed by an equivalent
# line, commented out, which contains an equivalent ASCII representation. On
# systems that don't properly render the Unicode characters, simply swap the
# comment ('#') character to the Unicode line.

--init='
	# Define bucket labels.
	my @l = (
		" 1.       0µs       15µs",
		" 2.      15µs       25µs",
		" 3.      25µs       50µs",
		" 4.      50µs      100µs",
		" 5.     100µs      500µs",
		" 6.     500µs    1,000µs",
		" 7.   1,000µs   10,000µs",
		" 8.  10,000µs         +∞", 
#		" 1.       0us       15us",
#		" 2.      15us       25us",
#		" 3.      25us       50us",
#		" 4.      50us      100us",
#		" 5.     100us      500us",
#		" 6.     500us    1,000us",
#		" 7.   1,000us   10,000us",
#		" 8.  10,000us       +INF", 
	);
	# Function uses closure to provide access to @l.
	sub label($) { return $l[$_[0]-1]; }
	# Vivify all buckets so that output always contains all histogram rows.
	$calls{$_} = undef for @l;
'

# Group using the buckets listed above.
--group='
		  $af <  .000015 ? label( 1)
		: $af <  .000025 ? label( 2)
		: $af <  .000050 ? label( 3)
		: $af <  .000100 ? label( 4)
		: $af <  .000500 ? label( 5)
		: $af <  .001000 ? label( 6)
		: $af <  .010000 ? label( 7)
		:                  label( 8)
'
--group-label="RANGE {min ≤ e < max}"
#--group-label="RANGE {min <= e < max}"
--sort=1na
--top=0
--name=read
