
--init='

# $e is multiplied by 1e6
# the purpose of this is to impose some time based data on flamegraph.pl
# 1 microsecond is 1 unit - send the number units, as flamegraphs are count based

=encoding utf8

=cut

sub replaceSpaces ($) {
	my ($s) = @_;
	$s =~ s/\s+/_/g;
	return $s;
}

'
--group='print($line . "," . $sqlid . "," . replaceSpaces($name) . "," . sprintf("%-12d\n",$e * 1e6 ))'
--alldepths --nohistogram --name=:dbcall --top=0 --nohead --nofoot

