# Group using powers-of-10 bucket boundaries.

# If Unicode characters give you trouble, then change the definition of @l.

--init='
	
	my $dummy;
	my $bc=0;

	sub getBlockCount {
		my $line=join(q{ },@_);
		#print "LINE: $line\n";
		my @a=split(/\s+/,$line); 
		my $blockString = $a[$#a-2];
		#print "string: $blockString\n";
		($name,$bc) = split(/=/,$blockString);
		#print "BC: $bc\n";
		return sprintf(q{blocks:%d},$bc);
	}
'


#--name='cell list of blocks physical read'
--name='cell.*physical.*read'
--group='getBlockCount($text)'
--group-label="sprintf('blocks:%-9s','NNNNNNNNN')"
--sort=3nd
--top=20

