

--init='
my $callNameLen=30;
my $rowCountLen=9;
my $callCounts = ();

sub getGrpLabel {
	my $callDesc = sprintf(qq{%${callNameLen}s:},q{CALL});
	my $countDesc=  sprintf(qq{%${rowCountLen}s},q{N} x $rowCountLen);
	my $ret = $callDesc . $countDesc;
	return $ret;
}

sub getGrpName {
	my ($callName, $rowCount) = @_;
	#printf(qq{getGrpName: callName=%s rowCount=%s\n},$callName,$rowCount);
	$callName = sprintf(qq{%${callNameLen}s},$callName);
	$rowCount = sprintf(qq{%0${rowCountLen}d},$rowCount);
	# for snmfc calls there is no rowcount
	if ( $callName =~ m/message/) { $rowCount = q{ }; }
	return "$callName:$rowCount";
}

'

# command type 3 is SELECT - see v$sqlcommand
# changed from where to where1 - did not always find fetch due to depmin
--where1='$nam eq q{FETCH} or ($name eq q{EXEC} and $oct == 3) or $name =~/message (to|from) client/' 
--group='getGrpName("$nam",$r)' 
# calling a function from --gl is not working - there is a fix coming for this
--group-label="getGrpLabel()"
#--group-label="sprintf('%9s','CALL') . ':NNNNNNNNN'"

